body{
  background: #25A9FC;
}
.box{
  position: relative;
  margin: auto;
  display: block;
  margin-top: 8%;
  width: 600px;
  height: 420px;
  background: none;
}

.head{
  position: absolute;
  top: 16.5%;
  left: 25%;
  width: 50%;
  height: 67%;
  background: #A6BECF;
  border-radius: 50%;
}

.head-copy{
  width: 100%;
  height: 100%;
  position: absolute;
  background: #A6BECF;
  border-radius: 50%;
  z-index: 2;
}

.ear-left{
  position: absolute;
  width: 60%;
  height: 65%;
  left: -20%;
  top: 5%;
  background: #A6BECF;
  border-radius: 50%;
  z-index: 1;
}
.ear-right{
  position: absolute;
  width: 60%;
  height: 65%;
  right: -20%;
  top: 5%;
  background: #A6BECF;
  border-radius: 50%;
  z-index: 1;
}
.inner-ear{
  position: absolute;
  border-radius: 50%;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  background: #819CAF;
}

.eyebrow-left{
  position: absolute;
  background: #819CAF;
  width: 20%;
  height: 5%;
  top: 15%;
  left: 21%;
  border-radius: 50%;
  z-index: 3;
}

.eyebrow-right{
  position: absolute;
  background: transparent;
  width: 20%;
  height: 5%;
  top: 15%;
  right: 21%;
  border-radius: 50%;
  z-index: 2;
  box-shadow: 5px 8px #819CAF;
}
.eye-left{
  position: absolute;
  background: white;
  width: 30%;
  height: 33%;
  top: 25%;
  left: 21%;
  border-radius: 50%;
  z-index: 3;
}

.eye-right{
  position: absolute;
  background: white;
  width: 30%;
  height: 33%;
  top: 25%;
  right: 21%;
  border-radius: 50%;
  z-index: 2;
}
.pupil{
  position: absolute;
  width: 28%;
  height: 30%;
  top: 35%;
  left: 36%;
  border-radius: 50%;
  background: #27354A;
}
.pupil:hover {
  animation-name: background-color;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes background-color {
  100%{
    background-color: green;
    transform: scale(2) translate(10px);
    
  }
}

.nose{
  position: absolute;
  background: #BE845F;
  width: 25%;
  height: 42.5%;
  left: 37%;
  top: 45%;
  border-radius: 50px;
  z-index: 4;
}

.hair-left{
  position: absolute;
  top: -8%;
  left: 30%;
  width: 20%;
  height: 20%;
  background:  #A6BECF;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

}

.hair-left:hover {
  animation-name: height;
  animation-duration: 500ms;
  animation-fill-mode: forwards;

  
}

@keyframes height{
  100%{
    height:40%;
    transform: scale(2) translate(10px);
    
  }
}
.hair-right{
  position: absolute;
  top: -4%;
  left: 48%;
  width: 20%;
  height: 20%;
  background:  #A6BECF;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.smile {
  position: absolute; 
  background: transparent;
  width: 10%;
  height: 10%;
  left: 50%;
  top: 83%;
  border-radius: 50px;
  z-index: 5;
  box-shadow: 5px 10px #b67188;

}